<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <title>My Web Page</title>
    <link rel="stylesheet" href="styles.css">
    <script type="text/javascript">
        function Submit() {
            var from_addr = document.getElementById('faddr').value;
            var to_addr = document.getElementById('taddr').value;
            var data = { "faddr": from_addr,
                       "taddr": to_addr,
                     }
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                callout();
                insertImage()
              try{
                var resp = this.responseText;
              }
              catch(err){
                alert(this.responseText);
              }
            }
          };
          xhttp.open("POST", "http://127.0.0.1:5000/post", true);
          xhttp.send(JSON.stringify(data));
        }
      </script>
      <script type="text/javascript">
        function callout() {
            $.ajax({
            url: 'http://127.0.0.1:5000/get'
            })
            .done(function (server_response) {
            var result = server_response
                var element = document.getElementById("result");
                element.innerHTML = "Result: " + result;
            })
        };
      </script>
      <script>
        function insertImage() {
            var graphs = document.getElementById("graphs");
            graphs.innerHTML = "";
            var imgElement = document.createElement("img");
            var uniqueParam = new Date().getTime();
            imgElement.src = "static/images/fig1.png?v=" + uniqueParam;
            imgElement.alt = "Description of the image";
            graphs.appendChild(imgElement);
        }
    </script>
</head>
<body>
    <header>
        <h1>Hello</h1>
    </header>
    <p>Fyll i KPIs</p>
    <form action="javascript:Submit()">
      <label for="fname">Första tal:</label><br>
      <input type="text" id="faddr" name="faddr"><br>
      <label for="lname">Andra tal:</label><br>
      <input type="text" id="taddr" name="taddr"><br><br>
      <input type="submit" value="Beräkna">
    </form>

    <p id = "result"> Result: </p>
    <div id="graphs"></div>
    
</body>
</html>
